@page "/"

<div class="container mt-5 text-center">
    <h1>Добро пожаловать в OnlineShop</h1>
    <p class="lead mt-3">Лучшие товары по лучшим ценам</p>
    <a href="/catalog" class="btn btn-primary btn-lg mt-3">Перейти в каталог</a>
</div>